{% extends "eventyay_common/organizers/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block inner %}
    {% if team %}
        <h1>{{ team.name }} {% translate "Team" %}</h1>
    {% else %}
        <h1>{% translate "Create a new team" %}</h1>
        <p>
            {% blocktranslate trimmed %}
                You will be able to add team members in the next step.
            {% endblocktranslate %}
        </p>
    {% endif %}
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% include "eventyay_common/organizers/teams/_permissions_fieldsets.html" with form=form %}

        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% translate "Save" %}
            </button>
        </div>
    </form>

    <script>
        $(document).ready(function() {
            // Function to toggle review settings visibility
            function toggleReviewSettings() {
                if ($('#id_is_reviewer').is(':checked')) {
                    $('#review-settings').show();
                } else {
                    $('#review-settings').hide();
                }
            }

            // Toggle on page load
            toggleReviewSettings();

            // Toggle when checkbox changes
            $('#id_is_reviewer').change(function() {
                toggleReviewSettings();
            });
        });
    </script>
{% endblock %}
