{% extends "pretixpresale/base.html" %}
{% load i18n %}
{% load static %}
{% load thumb %}
{% load eventurl %}
{% load urlreplace %}
{% load safelink %}
{% load compress %}

{% block container_width %} main-schedule{% endblock %}

{% block title %}
    {% if messages %}
        {{ messages|join:" " }} ::
    {% endif %}
    {% block pagetitle %}{% endblock %}{% if request.resolver_match.url_name != "organizer.index" %} :: {{ organizer.name }}{% endif %}
{% endblock %}

{% block meta_description %}
    {% blocktrans trimmed with name=organizer.name %}
        Events by {{ name }}
    {% endblocktrans %}
{% endblock %}

{% block social_title %}{{ organizer.name }}{% endblock %}

{% block social_description %}
    {% blocktrans trimmed with name=organizer.name %}
        Events by {{ name }}
    {% endblocktrans %}
{% endblock %}

{% block public_stylesheets %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static "pretixpresale/css/organizer-presale.css" %}" />
    {% endcompress %}
{% endblock %}

{% block custom_header %}
    {{ block.super }}
    <meta property="og:title" content="{{ organizer.name }}"/>
    {% if organizer_logo %}
        <meta property="og:image" content="{{ organizer_logo|thumb:'5000x120' }}"/>
    {% endif %}
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{% abseventurl organizer "presale:organizer.index" %}"/>
{% endblock %}

{% block presale_back_navigation %}{% endblock %}

{% block nav_link %}{% eventurl organizer "presale:organizer.index" %}{% endblock %}

{% block event_logo %}
    {% if organizer_logo %}
        {% if organizer.settings.organizer_logo_image_large %}
            <img loading="lazy" src="{{ organizer_logo|thumb:'1170x5000' }}" id="event-logo" alt="{{ organizer.name }}" class="organizer-logo">
        {% else %}
            <img loading="lazy" src="{{ organizer_logo|thumb:'5000x120' }}" id="event-logo" alt="{{ organizer.name }}" class="organizer-logo">
        {% endif %}
    {% endif %}
{% endblock %}

{% block hero_text %}
    <div class="event-hero-text">
        <a class="event-title event-public-text-link" href="{% eventurl organizer "presale:organizer.index" %}">{{ organizer.name }}</a>
    </div>
{% endblock %}

{% block header_tabs %}
    <a href="?{% url_replace request "style" "list" "week" "" "year" "" "month" "" "page" "" %}"
       class="header-tab{% if organizer_view_style == "list" %} underline{% endif %}">
        <span class="fa fa-list" aria-hidden="true"></span>
        {% trans "List" %}
    </a>
    <a href="?{% url_replace request "style" "week" "month" "" "year" "" "page" "" %}"
       class="header-tab{% if organizer_view_style == "week" %} underline{% endif %}">
        <span class="fa fa-calendar" aria-hidden="true"></span>
        {% trans "Week" %}
    </a>
    <a href="?{% url_replace request "style" "calendar" "week" "" "page" "" %}"
       class="header-tab{% if organizer_view_style == "calendar" %} underline{% endif %}">
        <span class="fa fa-calendar" aria-hidden="true"></span>
        {% trans "Month" %}
    </a>
{% endblock %}

{% block header_right %}
    {% if languages|length > 1 %}
        <span class="locales locales-inline">
            {% for l in languages %}
                <a href="{% url "presale:locale.set" %}?locale={{ l.code }}&next={{ request.path }}%3F{{ request.META.QUERY_STRING|urlencode }}"
                   class="locale-link{% if l.code == request.LANGUAGE_CODE %} active{% endif %}"
                   rel="nofollow">{{ l.name_local }}</a>
            {% endfor %}
        </span>
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block alerts %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block body_attrs %}
    class="nojs page-agenda organizer-presale-page"
    data-locale="{{ request.LANGUAGE_CODE }}"
    data-now="{% now "U.u" %}"
    data-datetimeformat="{{ js_datetime_format }}"
    data-timeformat="{{ js_time_format }}"
    data-dateformat="{{ js_date_format }}"
    data-datetimelocale="{{ js_locale }}"
{% endblock %}

{% block content %}
    <div class="organizer-page-content">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
