{% extends "common/error.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Admin mode required" %}{% endblock title %}

{% block error_image %}
    <img loading="lazy" src="{% static "common/img/error_403.svg" %}" class="img" alt="{% trans 'Admin mode required' %}">
{% endblock error_image %}

{% block error_message %}
    {% trans "Admin mode required" %}
{% endblock error_message %}

{% block error_details %}
    <h5>
        <p class="ml-auto mr-auto text-center mt-3">
            {% trans "If you are not an organiser for this event, please take a step back." %}
        </p>
        <p class="ml-auto mr-auto text-center">
            {% trans "If you are a super admin, please sign in with super admin." %}
        </p>
    </h5>
    
    <div class="mt-4 text-center" style="display: flex; justify-content: center; gap: 10px; flex-wrap: wrap;">
        <form action="{% url 'control:user.sudo' %}?next={{ request.path|add:'?'|add:request.GET.urlencode|urlencode }}" method="post" style="margin: 0;">
            {% csrf_token %}
            <button type="submit" class="btn btn-white btn-lg shadow-sm">
                <i class="fa fa-id-card mr-2"></i> {% trans "Sign in with super admin" %}
            </button>
        </form>
        <a href="javascript:history.back()" class="btn btn-outline-white btn-lg">
            <i class="fa fa-arrow-left mr-2"></i>{% trans "Take a step back" %}
        </a>
    </div>
{% endblock error_details %}

{% block error_code %}403{% endblock error_code %}
