{% load i18n %}
{% load rules %}
{% load event_tags %}
{% load staff_session %}

{% with nav_context=nav_context|default:"agenda" %}

    {% if current_event and request.user.is_authenticated and not is_html_export %}
        <details id="user-dropdown-label" class="dropdown" aria-haspopup="menu" role="menu">
            {% is_event_organiser request.user request current_event as can_see_orga_area %}
            <summary>
                <i class="fa fa-user nav-icon-mobile" aria-hidden="true"></i>
                <span class="mobile-hide-text">{{ request.user|short_user_label }}</span>
                <i class="fa fa-caret-down ml-1"></i>
            </summary>
            <div id="user-dropdown" class="dropdown-content dropdown-content-s{% if rtl %}e{% else %}w{% endif %}">
                <a href="{% url "eventyay_common:orders"%}" class="dropdown-item">
                    <i class="fa fa-shopping-cart"></i> {% translate "My orders" %}
                </a>
                <a href="{% url "cfp:event.user.submissions" organizer=current_event.organizer.slug event=current_event.slug %}" class="dropdown-item">
                    <i class="fa fa-sticky-note-o"></i> {% translate "My proposals" %}
                </a>
                <a href="{{ current_event.urls.user }}" class="dropdown-item">
                    <i class="fa fa-address-card-o"></i> {% translate "Speaker profile" %}
                </a>
                <a href="{{ current_event.urls.user_mails }}" class="dropdown-item">
                    <i class="fa fa-envelope"></i> {% translate "Event emails" %}
                </a>
                <hr>
                <a href="{% url "eventyay_common:account.general"%}" class="dropdown-item">
                    <i class="fa fa-user"></i> {% translate "Account" %}
                </a>
                {% if can_see_orga_area %}
                    <hr>
                    <a href="{% url 'eventyay_common:event.index' organizer=current_event.organizer.slug event=current_event.slug %}" class="dropdown-item">
                        <i class="fa fa-gears"></i> {% translate "Organizer area" %}
                    </a>
                {% endif %}
                <hr>
                <form action="{% url 'common:auth.logout' %}" method="post">
                    {% csrf_token %}
                    <button class="dropdown-item" type="submit">
                        <i class="fa fa-sign-out"></i> {% translate "Logout" %}
                    </button>
                </form>
            </div>
        </details>

    {% elif not subheader_login_link_disabled and not is_html_export %}
        <a href="{% url 'eventyay_common:auth.login' %}?next={{ request.path|urlencode }}" class="login-link">
            <i class="fa fa-user nav-icon-mobile"></i>
            <span class="mobile-hide-text">{% translate "Login" %}</span>
        </a>
    {% endif %}

{% endwith %}   