{% load i18n %}
{% load rich_text %}

{% if answer.question.variant == "file" %}
    {% include "common/includes/answer_file.html" with answer=answer %}
{% elif answer.question.variant == "boolean" %}
    {{ answer.boolean_answer|yesno }}
{% elif answer.question.variant == "video" or answer.question.variant == "url" %}
    {% if answer.answer %}
        <a href="{{ answer.answer }}" target="_blank" rel="noopener noreferrer">{{ answer.answer }}</a>
    {% else %}
        {% translate "No response" %}
    {% endif %}
{% elif answer %}
    {{ answer.answer|rich_text }}
{% else %}
    {% translate "No response" %}
{% endif %}
