html {
    font-size: 16px;
}

body {
    background: var(--color-grey-lightest);
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-family);
    color: var(--color-text);
}

#top-bg {
    background-color: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 270px;
    z-index: -1;
    display: flex;
}


#top-bg #header-image {
    object-fit: cover;
    width: 100%;
}

header {
    z-index: 1000;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    word-break: normal;
}

header .header-wrapper {
    width: 100%;
    max-width: calc(100vw - 8px);
    word-break: keep-all;
    flex-wrap: nowrap;
    background: var(--color-bg);
    border-radius: var(--size-border-radius) var(--size-border-radius) 0 0;
    margin-bottom: 0;
}

#header-tabs {
    display: flex;
    flex-wrap: nowrap;
    z-index: 400;
	color: var(--color-primary);
    background: var(--color-bg);
    border-radius: var(--size-border-radius) var(--size-border-radius) 0 0;
    margin-bottom: -4px;
    padding-bottom: 4px;
    flex-shrink: 0;
}

#header-tabs a.header-tab {
    padding: 8px 10px 4px 10px;
	color: var(--color-primary);
    border-bottom: 2px solid transparent;
}

#header-tabs a.header-tab:hover {
    text-decoration: none;
    border-bottom: 2px dotted var(--color-primary);
}

#header-tabs a.header-tab.active {
    border-bottom: 2px solid var(--color-primary);
}

header .header-row-right {
    padding-bottom: 4px;
	color: var(--color-primary);
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-items: flex-end;
    font-size: 1rem;
}

.alert::before {
    position: absolute;
    inset: 0 auto 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 56px;
    padding: 12px 16px;
    margin: 0;
}

#main-card {
    margin: 0 auto;
}

.alert {
    margin: 16px;
}

.btn-primary {
    --highlight-color: var(--color-primary);
    --highlight-color-text: var(--color-primary-text-dark);
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
    text-decoration: none;
	&:hover {
	    background: var(--color-primary-text-dark);
		border-color: var(--color-primary-text-dark);
	    color: white;
	}
}

.btn-default {
    --highlight-color: var(--color-primary);
    --highlight-color-text: var(--color-primary-text-dark);
    background: var(--color-grey-lightest);
    color: var(--color-primary);
    border-color: var(--color-primary);
    box-shadow: none;
	&:hover {
	    background: var(--color-primary-text-dark);
		border-color: var(--color-primary-text-dark);
	    color: white;
	}
}

#btn-add-to-cart:disabled {
    background: var(--color-primary-text-dark);
    border-color: var(--color-grey-light);
    color: var(--color-primary);
    cursor: not-allowed;
    box-shadow: none;
}

.panel-heading{
	width: 100%;
}

.panel-primary {
    border-color: var(--color-primary);
}
.panel-primary > .panel-heading,
.panel-primary > summary.panel-heading {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: #fff;
}
.panel-primary > .panel-heading .panel-title,
.panel-primary > summary.panel-heading .panel-title,
.panel-primary > .panel-heading .panel-title *,
.panel-primary > summary.panel-heading .panel-title * {
    color: #fff;
}
