#top-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px;
    z-index: -1;
    display: flex;

    #header-image {
        object-fit: cover;
        width: 100%;
    }
}

.custom-header {
    height: 220px;
    align-items: flex-end;
    display: flex;
    margin-top: -3.8rem;
}

.video-link {
    margin-left: auto;
}

#header-nav-bar {
    margin-top: 10px;
    margin-bottom: 3rem;
    overflow: auto;
    
    div {
        font-size: 1.65rem;
        display: flex;
        gap: 2rem;
    }
    
    a {
        cursor: pointer;
        position: relative;
        text-decoration: none;
        padding-bottom: 4px;
        border-bottom: 2px solid transparent;
    }

    a.underline::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -10px;
        width: calc(100% + 20px);
        height: 2px;
        background-color: currentColor;
    }

    a:not(.underline):hover {
        border-bottom: 2px dotted currentColor;
    }
}

#schedule-nav {
    margin: 16px 0px;
    .header-nav {
        border-color: darken($btn-primary-bg, 10%) !important;
        border: 1px solid;
        font-size: 16px;
        font-weight: normal;
        border-radius: 0;
    }
    .navigation {
        display: flex;
        flex-wrap: wrap;
        .navigation-button {
            margin-right: 8px;
            margin-bottom: 8px;
        }
        @media (min-width: 800px) {
            .video-link {
                margin-left: auto;
            }
        }
        a:hover {
            color: #fff;
            background-color: $hover-button-color !important;
        }
        .popover-content {
            .options {
                color: darken($btn-primary-bg, 10%);
                border-color: darken($btn-primary-bg, 12%);
                border: 1px solid;
                font-size: 16px;
                font-weight: normal;
                border-radius: 0;
            }
            .options:hover {
                color: #fff;
                color: darken($btn-primary-bg, 10%) !important;
            }
            div:first-child {
                margin-bottom: 8px;
            }
        }
        
    }
    
}

.page-header-links{
    .header-part{
        a {
            color: #FFFFFF !important;
        }
    }
}
.page-header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
}
.header-part.header-left {
  margin-right: auto;
}

.header-part.header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}