#top-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px;
    z-index: -1;
    display: flex;

    #header-image {
        object-fit: cover;
        width: 100%;
    }
}

.custom-header {
    height: 220px;
    align-items: flex-end;
    display: flex;
    margin-top: -3.8rem;
}

.video-link {
    margin-left: auto;
}

#header-nav-bar {
    margin-top: 10px;
    margin-bottom: 3rem;
    overflow: auto;
}

#header-nav-bar div {
    font-size: 1.65rem;
    display: flex;
    gap: 2rem;
}

#header-nav-bar a {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    padding-bottom: 4px;
}

#header-nav-bar a.underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    width: calc(100% + 20px);
    height: 2px;
    background-color: currentColor;
}

#header-nav-bar a:not(.underline):hover {
    border-bottom: 2px dotted currentColor;
}


#schedule-nav {
    margin: 16px 0px;
    .header-nav {
        border-color: #2185d0;
        border: 1px solid;
        font-size: 16px;
        font-weight: normal;
        border-radius: 0;
    }
    .navigation {
        display: flex;
        flex-wrap: wrap;
        .navigation-button {
            margin-right: 8px;
            margin-bottom: 8px;
        }
        @media (min-width: 800px) {
            .video-link {
                margin-left: auto;
            }
        }
        a:hover {
            color: #fff;
            background-color: #2185d0;
        }
        .popover-content {
            .options {
                color: #2185d0;
                border-color: #2185d0;
                border: 1px solid;
                font-size: 16px;
                font-weight: normal;
                border-radius: 0;
            }
            .options:hover {
                color: #fff;
                background-color: #2185d0;
            }
            div:first-child {
                margin-bottom: 8px;
            }
        }
        
    }
    
}

.page-header-links{
    .header-part{
        a {
            color: #FFFFFF !important;
        }
    }
}
