{% load i18n %}
{% if output %}
  <fieldset class='mt-4'>
    <legend id='preview'>{% translate "Email preview" %}</legend>
    {% if recipient_count %}
      <div class='alert alert-info'>
        {% blocktranslate with count=recipient_count %}
          Roughly {{ count }} emails will be generated.
        {% endblocktranslate %}
      </div>
    {% endif %}
    <div class='tab-pane mail-preview-group'>
      {% for locale, content in output.items %}
        <div lang='{{ locale }}' class='mail-preview'>
          <strong>{% translate "Subject:" %} {{ content.subject }}</strong>
          <br><br>
          {{ content.html|safe }}
        </div>
      {% endfor %}
    </div>
  </fieldset>
{% endif %}
