{% extends "pretixcontrol/admin/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Delete Preset Category" %}{% endblock %}

{% block content %}
    <h1>{% trans "Delete Preset Category" %}</h1>
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        <p>
            {% blocktrans trimmed with name=object.name %}
                Are you sure you want to delete the category <strong>{{ name }}</strong>? All presets in this category will also be deleted.
            {% endblocktrans %}
        </p>
        <div class="form-group submit-group">
            <a href="{% url 'eventyay_admin:admin.header_presets' %}" class="btn btn-default btn-cancel">
                {% trans "Cancel" %}
            </a>
            <button type="submit" class="btn btn-danger btn-save">
                {% trans "Delete" %}
            </button>
        </div>
    </form>
{% endblock %}
