{% extends "orga/base.html" %}

{% load compress %}
{% load i18n %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'orga/css/question-toggles.css' %}">
    <link rel="stylesheet" href="{% static 'orga/css/speaker_create.css' %}">
{% endblock stylesheets %}

{% block scripts %}
    {% if form.biography %}
        <script src="{% static "vendored/marked.min.js" %}" defer></script>
        <script defer src="{% static "vendored/purify.min.js" %}"></script>
    {% endif %}
    <script defer src="{% static 'cfp/js/talk_dependencies.js' %}"></script>
    {% if social_media_formset %}
        <script type="module" src="{% static 'common/js/speaker_social_links.js' %}"></script>
    {% endif %}
    <script type="module" src="{% static 'orga/js/speaker_create.js' %}"></script>
{% endblock scripts %}

{% block extra_title %}{% translate "Add speaker" %} :: {% endblock extra_title %}

{% block content %}
    <nav id="event-nav" class="header-nav">
        <div class="navigation">
            <div class="navigation-title">
                <h2 class="d-flex align-items-baseline">
                    {% translate "Add new speaker" %}
                </h2>
            </div>
            {% include "orga/event/component_link.html" %}
        </div>
    </nav>
    <form id="speaker-create-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "common/forms/errors.html" %}

        {% include "orga/speaker/includes/profile_fields.html" with speaker_form=form speaker_social_formset=social_media_formset %}

        {% if can_link_sessions %}
            {% include "orga/speaker/includes/session_options.html" %}
        {% endif %}

        {% include "orga/includes/submit_row.html" %}

    </form>
{% endblock content %}
