{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load order_overview %}
{% load static %}
{% load captureas %}

{% block title %}{% trans "Import / Export" %}{% endblock %}

{% block custom_header %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'pretixcontrol/css/orders-mobile.css' %}" />
    {% if banktransfer_active %}
        <link rel="stylesheet" type="text/css" href="{% static 'pretixcontrol/css/tickets-mobile.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'pretixplugins/banktransfer/ui.css' %}" />
    {% endif %}
    <script type="text/javascript">
        $(function () {
            $('.panel-body form').each(function () {
                var $form = $(this);
                var paidOnly = $form.find('input[name$="-paid_only"]');
                var approvalPendingOnly = $form.find('input[name$="-approval_pending_only"]');
                var includePaymentAmounts = $form.find('input[name$="-include_payment_amounts"]');

                function updateDisabledState($field, disabled) {
                    $field.prop('disabled', disabled);
                    if (disabled) {
                        $field.prop('checked', false);
                    }
                    $field.closest('.form-group, .form-field-boundary').toggleClass('disabled', disabled);
                }

                function syncOrderExportFilters() {
                    updateDisabledState(approvalPendingOnly, paidOnly.prop('checked'));
                    updateDisabledState(paidOnly, approvalPendingOnly.prop('checked'));
                    updateDisabledState(includePaymentAmounts, approvalPendingOnly.prop('checked'));
                }

                if (paidOnly.length && approvalPendingOnly.length && includePaymentAmounts.length) {
                    syncOrderExportFilters();
                    paidOnly.on('change', syncOrderExportFilters);
                    approvalPendingOnly.on('change', syncOrderExportFilters);
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% trans "Import / Export" as header_title_var %}
    {% captureas header_extra_var %}
        {% if "identifier" in request.GET %}
            <a href="?" class="btn btn-default">{% trans "Show all" %}</a>
        {% endif %}
    {% endcaptureas %}
    {% include "common/includes/header_nav.html" with header_title=header_title_var header_title_extra=header_extra_var header_component_link="pretixcontrol/event/component_link.html" %}

    <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 20px;">
        <li role="presentation" {% if active_tab == "export" %}class="active"{% endif %}>
            <a href="#tab-export" aria-controls="tab-export" role="tab" data-toggle="tab">{% trans "Export data" %}</a>
        </li>
        {% if "can_change_orders" in request.eventpermset %}
        <li role="presentation" {% if active_tab == "import" %}class="active"{% endif %}>
            <a href="#tab-import" aria-controls="tab-import" role="tab" data-toggle="tab">{% trans "Import attendees" %}</a>
        </li>
        {% endif %}
        {% if banktransfer_active %}
            <li role="presentation" {% if active_tab == "banktransfer" %}class="active"{% endif %}>
                <a href="#tab-banktransfer" aria-controls="tab-banktransfer" role="tab" data-toggle="tab">{% trans "Import bank transfers" %}</a>
            </li>
        {% endif %}
    </ul>

    <div class="tab-content">
        <!-- Export Tab -->
        <div role="tabpanel" class="tab-pane {% if active_tab == "export" %}active{% endif %}" id="tab-export">
            {% for e in exporters %}
                <details class="panel panel-default" {% if "identifier" in request.GET or "exporter" in request.POST %}open{% endif %}>
                    <summary class="panel-heading">
                        <h3 class="panel-title">
                            {{ e.verbose_name }}
                            <i class="fa fa-angle-down collapse-indicator"></i>
                        </h3>
                    </summary>
                    <div id="{{ e.identifier }}">
                        <div class="panel-body">
                            <form action="{% url "control:event.orders.export.do" event=request.event.slug organizer=request.organizer.slug %}"
                                    method="post" class="form-horizontal" data-asynctask data-asynctask-download
                                    data-asynctask-long>
                                {% csrf_token %}
                                <input type="hidden" name="exporter" value="{{ e.identifier }}" />
                                {% bootstrap_form e.form layout='control' %}
                                <button class="btn btn-primary pull-right flip" type="submit">
                                    <span class="icon icon-upload"></span> {% trans "Start export" %}
                                </button>
                            </form>
                        </div>
                    </div>
                </details>
            {% endfor %}

            {% if banktransfer_active %}
                <details class="panel panel-default">
                    <summary class="panel-heading">
                        <h3 class="panel-title">
                            {% trans "Export bank transfer refunds" %}
                            <i class="fa fa-angle-down collapse-indicator"></i>
                        </h3>
                    </summary>
                    <div class="panel-body">
                        <p>
                            {% blocktrans trimmed %}
                                Export placed refunds that have not yet been transferred.
                            {% endblocktrans %}
                        </p>
                        <a href="{% url 'plugins:banktransfer:refunds.list' event=request.event.slug organizer=request.organizer.slug %}" class="btn btn-primary">
                            <span class="fa fa-university"></span> {% trans "Go to bank transfer refunds export" %}
                        </a>
                    </div>
                </details>
            {% endif %}
        </div>

        {% if "can_change_orders" in request.eventpermset %}
        <!-- Import Attendees Tab -->
        <div role="tabpanel" class="tab-pane {% if active_tab == "import" %}active{% endif %}" id="tab-import">
            <div class="panel panel-default orders-import-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Upload a new file" %}</h3>
                </div>
                <div class="panel-body">
                    <form action="{% url 'control:event.orders.import' event=request.event.slug organizer=request.organizer.slug %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}
                        <p>
                            {% blocktrans trimmed %}
                                The uploaded file should be a CSV file with a header row. You will be able to assign the
                                meanings of the different columns in the next step.
                            {% endblocktrans %}
                        </p>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="file">{% trans "Import file" %}:</label>
                            <div class="col-md-5">
                                <input id="file" type="file" name="file" accept=".csv" required data-eventyay-file-wrapper="disabled"/>
                            </div>
                        </div>
                        <div class="form-group submit-group">
                            <button class="btn btn-primary btn-save" type="submit">
                                <span class="icon icon-upload"></span> {% trans "Upload and continue" %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}

        {% if banktransfer_active %}
            <!-- Import Bank Transfers Tab -->
            <div role="tabpanel" class="tab-pane {% if active_tab == "banktransfer" %}active{% endif %}" id="tab-banktransfer">
                {% include "pretixplugins/banktransfer/_banktransfer_upload.html" %}

                {% if transactions_unhandled|length > 0 or filter_form.is_valid %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{% trans "Unresolved transactions" %}</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                {% blocktrans trimmed %}
                                    On this page, you can import banking data on a per-event level. You also only see
                                    unmatched transactions imported directly for this event.
                                {% endblocktrans %}
                                <a href="{% url "plugins:banktransfer:import" organizer=request.organizer.slug %}"
                                   class="btn btn-default btn-xs">{% trans "Go to organizer-level import" %}</a>
                            </p>

                            <div class="row" style="margin-bottom: 20px;">
                                <form class="form-inline helper-display-inline" action="" method="get">
                                    <input type="hidden" name="tab" value="banktransfer" />
                                    <div class="col-md-3">
                                        {% trans "Amount from" %}
                                        {{ filter_form.amount_min }}
                                        {% trans "up to" %}
                                        {{ filter_form.amount_max }}
                                    </div>
                                    <div class="col-md-3">
                                        {% trans "Date from" %}
                                        {{ filter_form.date_min }}
                                        {% trans "up to" %}
                                        {{ filter_form.date_max }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ filter_form.search_text }}
                                        <button class="btn btn-primary" type="submit">{% trans "Filter" %}</button>
                                        <a class="btn btn-default" href="?tab=banktransfer">{% trans "Clear" %}</a>
                                    </div>
                                </form>
                                <div class="col-md-2">
                                    {% if not filter_form.is_valid %}
                                        <form action="{% url 'plugins:banktransfer:import' event=request.event.slug organizer=request.organizer.slug %}" method="post" class="helper-display-inline pull-right flip">
                                            {% csrf_token %}
                                            <button class="btn btn-delete btn-danger" type="submit" name="discard" value="all">
                                                <span class="fa fa-trash"></span>
                                                {% trans "Discard all" %}
                                            </button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>

                            {% if transactions_unhandled|length > 0 %}
                                {% include "pretixcontrol/pagination.html" %}
                                {% include "pretixplugins/banktransfer/transaction_list.html" with list=transactions_unhandled %}
                                {% include "pretixcontrol/pagination.html" %}
                            {% else %}
                                <div>{% trans "Your search matched no transactions." %}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <script type="application/javascript" src="{% static "pretixplugins/banktransfer/ui.js" %}"></script>
            </div>
        {% endif %}
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href");
                var tabName = target.replace('#tab-', '');
                var newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?tab=' + tabName;
                window.history.pushState({path: newUrl}, '', newUrl);
            });
        });
    </script>
{% endblock %}
