<div class="image-input-wrapper" data-image-input>
    <div class="image-input-fields">
        {% if widget.is_initial %}<span class="form-image-initial">{{ widget.initial_text }}: <a href="{{ widget.value.url }}">{{ widget.value }}</a>{% if not widget.is_required %}
            <span class="form-image-clear"><input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>
                <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label></span>{% endif %}</span><br>
            {{ widget.input_text }}:{% endif %}
        <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
    </div>
    <div class="form-image-preview" {% if not widget.is_initial %}style="display: none;"{% endif %}>
        <a {% if widget.is_initial %}href="{{ widget.value.url }}"{% endif %} aria-label="{{ widget.alt_text }}">
            <img loading="lazy"{% if widget.is_initial %} src="{{ widget.value.url }}"{% endif %} alt="{{ widget.alt_text }}">
        </a>
    </div>
</div>
