{% extends "orga/base.html" %}

{% load i18n %}

{% block extra_title %}{% translate "Talk status" %} :: {% endblock extra_title %}

{% block content %}
    <nav id="event-nav" class="header-nav">
        <div class="navigation">
            <div class="navigation-title">
                <h1>{% trans "Talk status" %}</h1>
            </div>
            <div class="navigation-button">
                <a href="{% url "eventyay_common:event.index" organizer=request.event.organizer.slug event=request.event.slug %}"
                   class="header-nav btn btn-outline-success">
                    <i class="fa fa-home"></i> {% trans "Home" %}
                </a>
                {% if request.event.settings.tickets_enabled %}
                    <a href="{% url "control:event.index" organizer=request.event.organizer.slug event=request.event.slug %}"
                       class="header-nav btn btn-outline-success">
                        <i class="fa fa-ticket"></i> {% trans "Tickets" %}
                    </a>
                {% endif %}
                <a href="#" class="header-nav btn btn-outline-success active">
                    <i class="fa fa-group"></i> {% trans "Talk" %}
                </a>
                <a class="header-nav btn btn-outline-success"
                   href="{% url "eventyay_common:event.create_access_to_video" organizer=request.event.organizer.slug event=request.event.slug %}"
                   title="{% trans "Access videos related to this event" %}">
                    <i class="fa fa-video-camera"></i> {% trans "Videos" %}
                </a>
            </div>
        </div>
    </nav>
    <legend>
        {% trans "Talk" %}
    </legend>
    {% if warnings or suggestions %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans "Talk readiness" %}
            </div>
            <div class="panel-body">
                {% if warnings %}
                    <p>
                        <strong>{% trans "Your talk component may not be ready for release yet!" %}</strong>
                    </p>
                    <ul>
                        {% for warning in warnings %}
                            <li>
                                {{ warning.text }}
                                <a class="btn btn-xs btn-default" href="{{ warning.url }}">{% trans "Fix me" %}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if suggestions %}
                    <p>
                        <strong>{% trans "There may be easy ways to improve your talk component before its release!" %}</strong>
                    </p>
                    <ul>
                        {% for suggestion in suggestions %}
                            <li>
                                {{ suggestion.text }}
                                <a class="btn btn-xs btn-default" href="{{ suggestion.url }}">{% trans "Fix me" %}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% include "eventyay_common/event/fragment_talk_modes.html" %}
{% endblock content %}
