{% extends "pretixcontrol/admin/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Staff session" %}{% endblock %}
{% block content %}
    <h1>{% trans "Session notes" %}</h1>
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.comment layout='horizontal' %}
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
    <h1>{% trans "Audit log" %}</h1>
    <dl class="dl-horizontal">
        <dt>{% trans "Start date" %}</dt>
        <dd>{{ session.date_start|date:"SHORT_DATETIME_FORMAT" }}</dd>
        <dt>{% trans "End date" %}</dt>
        <dd>{{ session.date_end|date:"SHORT_DATETIME_FORMAT" }}</dd>
        <dt>{% trans "User" %}</dt>
        <dd>{{ session.user.email }}</dd>
    </dl>
    <table class="table table-condensed">
    <thead>
    <tr>
        <th class="col-md-2">{% trans "Timestamp" %}</th>
        <th class="col-md-1">{% trans "Method" %}</th>
        <th class="col-md-4">{% trans "URL" %}</th>
        <th class="col-md-2">{% trans "On behalf of" %}</th>
        <th class="col-md-3">{% trans "Data payload" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for log in logs %}
        <tr>
        <td>{{ log.datetime|date:"SHORT_DATETIME_FORMAT" }}</td>
        <td>{{ log.method }}</td>
        <td class="break-all">{{ log.url }}</td>
        <td>{{ log.impersonating|default:"" }}</td>
        <td class="break-all">{{ log.post_data|default:"" }}</td>
        </tr>
    {% endfor %}
    </tbody>

    </table>
{% endblock %}
