@import 'variables'
variables()
normalize-css()
base()
typography()
components()
scrollbars()

a
	color: var(--pretalx-clr-primary)
	text-decoration: none

html, body
	margin: 0
	font-family: "Open Sans", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif
	--pretalx-clr-primary: var(--color-primary, #2185d0)

.bunt-scrollbar
	min-height: 0 // firefox can fuck off into space
