{% load i18n %}

{% if answers %}
    <div class="speaker-answers-list mt-2">
        {% for answer in answers %}
            <div class="mb-3">
                <strong class="d-block">{{ answer.question.question }}:</strong>
                {% if answer.question.variant == "boolean" %}
                    <span class="mt-1 value-pill {% if answer.boolean_answer %}value-pill--positive{% else %}value-pill--negative{% endif %}">
                        {% include "common/question_answer.html" with answer=answer %}
                    </span>
                {% else %}
                    <div class="mt-1">
                        {% include "common/question_answer.html" with answer=answer %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}
