{% load i18n %}

<div class="submit-group search-submit-group">
    <form class="search-form filter-form" role="search">
        {% if search_form %}{{ search_form }}{% endif %}
        {% if filter_form.role %}{{ filter_form.role.as_field_group }}{% endif %}
        {% if filter_form.arrived %}{{ filter_form.arrived.as_field_group }}{% endif %}
        {% if filter_form.is_valid and filter_form.cleaned_data.question %}
            <input type="hidden" name="question" value="{{ request.GET.question }}">
            {% if request.GET.answer__options %}<input type="hidden" name="answer__options" value="{{ request.GET.answer__options }}">{% endif %}
            {% if request.GET.answer %}<input type="hidden" name="answer" value="{{ request.GET.answer }}">{% endif %}
            {% if request.GET.unanswered %}<input type="hidden" name="unanswered" value="{{ request.GET.unanswered }}">{% endif %}
        {% endif %}
        <button class="btn btn-info" type="submit">{% translate "Search" %}</button>
    </form>
</div>
