{% extends "pretixcontrol/organizers/base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}
{% block inner %}
    <h1>{% trans "Connect to device:" %} {{ device.name }}</h1>

    <div>
        <ol>
            <li>
                {% trans "Use a check-in app that is compatible with eventyay. For example, our web-based <strong>eventyay Check-in</strong> app." %}<br>
                <a href="https://access.eventyay.com"
                        class="btn btn-default" target="_blank">
                    {% trans "Open eventyay Check-in" %}
                </a>
            </li>
            <li>
                {% trans "Open the check-in app on the device you want to connect." %}
            </li>
            <li>{% trans "Select your purpose and scan the following configuration code:" %}<br><br>
                <script type="text/json" data-replace-with-qr>{{ qrdata|safe }}</script><br>
                {% trans "If your app/device does not support scanning a QR code, you can also enter the following information:" %}
                <br>
                <strong>{% trans "System URL:" %}</strong> {{ settings.SITE_URL }}<br>
                <strong>{% trans "Token:" %}</strong> {{ device.initialization_token }}
            </li>
        </ol>
    </div>
    <a href= "{% url 'eventyay_common:organizer.devices' organizer=request.organizer.slug %}"
            class="btn btn-default"><i class="fa fa-arrow-left"></i>
        {% trans "Device overview" %}
    </a>
    <script type="text/javascript" src="{% static "pretixcontrol/js/ui/devices.js" %}"></script>
{% endblock %}
