docutils>=0.22.4
pyenchant>=3.3.0
pygments-markdown-lexer>=0.1.0.dev39
sphinx>=9.0.4
sphinx-rtd-theme>=3.1.0
sphinxcontrib-httpdomain>=1.8.1
sphinxcontrib-images>=1.0.1
sphinxcontrib-spelling>=8.0.2
sphinxemoji>=0.3.2
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
alabaster==1.0.0
amqp==5.3.1
annotated-types==0.7.0
arabic-reshaper==3.0.0
argcomplete==3.6.3
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.11.0
asn1crypto==1.5.1
attrs==25.4.0
autobahn==25.12.2
Automat==25.4.16
babel==2.17.0
beautifulsoup4==4.14.3
billiard==4.2.4
bleach==6.3.0
cbor2==5.8.0
celery==5.6.2
certifi==2026.1.4
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
constantly==23.10.4
contourpy==1.3.3
coverage==7.13.1
coveralls==4.0.2
crispy-bootstrap4==2025.6
cron_descriptor==2.0.6
cryptography==46.0.3
css-inline==0.19.0
csscompressor==0.9.5
cssutils==2.11.1
cycler==0.12.1
daphne==4.2.1
defusedcsv==3.0.0
defusedxml==0.7.1
dj-static==0.0.6
Django==5.2.10
django-allauth==65.13.1
django-appconf==1.2.0
django-bootstrap3==26.1
django-celery-beat==2.8.1
django-cors-headers==4.9.0
django-countries==8.2.0
django-crispy-forms==2.5
django-csp==4.0
django-filter==25.2
django-formset-js-improved==0.5.0.4
django-formtools==2.5.1
django-hierarkey==2.0.1
django-hijack==3.7.6
django-i18nfield==1.11.0
django-jquery-js==3.1.1
django-libsass==0.9
django-localflavor==5.0
django-markup==1.10
django-multifactor==0.8.4
django-oauth-toolkit==3.2.0
django-otp==1.7.0
django-pdb==0.6.2
django-phonenumber-field==8.4.0
django-redis==6.0.0
django-scopes==2.0.0
django-statici18n==2.6.0
django-timezone-field==7.2.1
django_compressor==4.6.0
django_context_decorator==1.6.1
django_sso==3.0.2
djangorestframework==3.16.1
docopt==0.6.2
docutils==0.22.4
drf-flex-fields==1.0.2
drf-spectacular==0.29.0
elementpath==5.1.0
emoji==2.15.0
et_xmlfile==2.0.0
eventyay-paypal @ git+https://github.com/fossasia/eventyay-tickets-paypal.git@1765e5b1aa31da570e16a09a076e96ab623436d1
eventyay-stripe @ git+https://github.com/fossasia/eventyay-tickets-stripe.git@a76e42f537666a19ac57072ffd32cd44353b8032
-e ./app
execnet==2.1.2
Faker==40.1.2
fakeredis==2.33.0
fido2==2.1.0
flake8==7.3.0
fonttools==4.61.1
freezegun==1.5.5
frozenlist==1.8.0
geoip2==5.2.0
gunicorn==23.0.0
hyperlink==21.0.0
icalendar==6.3.2
idna==3.11
imagesize==1.4.1
importlib_metadata==8.7.1
Incremental==24.11.0
inflection==0.5.1
iniconfig==2.3.0
isort==7.0.0
isoweek==1.3.3
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jwcrypto==1.5.6
kiwisolver==1.4.9
kombu==5.6.2
libsass==0.23.0
lxml==6.0.2
Markdown==3.10
markdown-it-py==4.0.0
markdownify==1.2.2
MarkupSafe==3.0.3
matplotlib==3.10.8
maxminddb==3.0.0
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.8.0
msgpack==1.1.2
msgspec==0.20.0
mt-940==4.30.0
multidict==6.7.0
nh3==0.3.2
numpy==2.4.1
oauthlib==3.3.1
openpyxl==3.1.5
orjson==3.11.5
packaging==25.0
pandas==2.3.3
pdf2image==1.17.0
pdfrw==0.4
pep8-naming==0.15.1
phonenumberslite==9.0.21
pillow==12.1.0
pluggy==1.6.0
polib==1.2.0
potypo==0.0.2
pretalx-downstream @ git+https://github.com/fossasia/eventyay-talk-downstream.git@6ad15e7bce1a621cdbf52a3d43c0f0a5e7eca664
pretalx-pages @ git+https://github.com/fossasia/eventyay-talk-pages.git@a726a10459644f0bfde5019be8abf4f66b77cd27
pretalx-venueless @ git+https://github.com/fossasia/eventyay-talk-video.git@8c3316a0ee7e801dc9c30b56a3c523c01209bb61
pretix-pages @ git+https://github.com/fossasia/eventyay-ticket-pages.git@a7c33fd26351d409a752baa6989f24be511b5bdd
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.4
psycopg==3.3.2
psycopg-binary==3.3.2
psycopg-pool==3.3.0
publicsuffixlist==1.0.2.20260114
py-ubjson==0.16.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycountry==24.6.1
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pyenchant==3.3.0
pyflakes==3.4.0
Pygments==2.19.2
pygments-markdown-lexer==0.1.0.dev39
PyJWT==2.10.1
pyOpenSSL==25.3.0
pyotp==2.9.0
pyparsing==3.3.1
pypdf==6.6.0
pypng==0.20220715.0
python-bidi==0.6.7
python-creole==1.4.10
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-http-client==3.3.7
python-stdnum==2.2
python-u2flib-server==5.0.1
pytz==2025.2
pyuca==1.2
pyvat==1.3.18
pyxdg==0.28
PyYAML==6.0.3
qrcode==8.2
rcssmin==1.2.2
redis==7.1.0
referencing==0.37.0
regex==2026.1.15
reportlab==4.4.9
requests==2.32.5
requests-oauthlib==2.0.0
responses==0.25.8
rich==14.2.0
rjsmin==1.2.5
roman-numerals==4.1.0
rpds-py==0.30.0
rules==3.5
sendgrid==6.12.5
sentry-sdk==2.49.0
sepaxml==2.7.0
service-identity==24.2.0
six==1.17.0
smartypants==2.0.2
snowballstemmer==3.0.1
sortedcontainers==2.4.0
soupsieve==2.8.1
Sphinx==9.0.4
sphinx_rtd_theme==3.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-httpdomain==1.8.1
sphinxcontrib-images==1.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-spelling==8.0.2
sphinxemoji==0.3.2
sqlparse==0.5.5
starkbank-ecdsa==2.2.0
static3==0.7.0
stripe==11.3.0
termcolor==3.3.0
text-unidecode==1.3
textile==4.0.3
tlds==2025102200
tqdm==4.67.1
Twisted==25.5.0
txaio==25.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
u-msgpack-python==2.8.0
ua-parser==1.0.1
ua-parser-builtins==202601
ujson==5.11.0
uritemplate==4.2.0
urllib3==2.6.3
urlman==2.0.3
vat-moss-forked==2020.3.20.0.11.0
vine==5.1.0
vobject==0.9.9
wcwidth==0.2.14
webauthn==2.7.0
webencodings==0.5.1
websockets==16.0
Werkzeug==3.1.5
whitenoise==6.11.0
wlc==1.17.2
xmlschema==4.3.0
yarl==1.22.0
zipp==3.23.0
zope.interface==8.2
zxcvbn==4.5.0
