.banner-bottom, .site-notice-bottom,
.banner-top, .site-notice-top {
  padding: 15px var(--size-spacer);
}

.banner-bottom > :first-child, .site-notice-bottom > :first-child,
.banner-top > :first-child, .site-notice-top > :first-child {
  margin-top: 0;
}

.banner-bottom > :last-child, .site-notice-bottom > :last-child,
.banner-top > :last-child, .site-notice-top > :last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .banner-bottom, .site-notice-bottom,
  .banner-top, .site-notice-top {
    padding: 15px 12px;
  }
}
