{% extends "eventyay_common/auth/base.html" %}
{% from "eventyay_common/components/forms/button.html" import form_button %}
{% from "eventyay_common/components/forms/field.html" import form_field %}
{% from "eventyay_common/components/forms/base.html" import form_base %}

{% block title %}
  {{ _('Change Password') }}
{% endblock %}

{% block content %}
  <div class="sixteen wide mobile eight wide tablet five wide computer column">
    <h2 class="ui horizontal divider header">
      <div class="visible content">{{ _('Change Password') }}</div>
    </h2>
    {% call form_base(form, method='post') %}
      {{ form_field(form.password) }}
      {{ form_field(form.password_confirm) }}
      <div class="ui hidden divider"></div>
      {{ form_button(_('Change Password'), class='fluid large primary') }}
    {% endcall %}
  </div>
{% endblock %}