.ql-snow .ql-editor h3 { font-size: 24px; }
.ql-snow .ql-editor h4 { font-size: 18px; }
.ql-snow .ql-editor h5 { font-size: 14px; }
.ql-container {
    font-size: 14px;
}
.ql-content img {
    width: auto;
    height: auto;
    max-width: 100%;
}
.quill-textarea-container textarea {
    width: 100%;
    min-height: 200px;
}

.js-quill-enabled .quill-textarea-container textarea {
    position: absolute;
    left: -9999px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
