{% load i18n %}
{% with total=products|length %}
<ul class="list-unstyled products-list">
    {% for product in products|slice:":5" %}
        <li>
            <a href="{% url 'control:event.product' organizer=request.event.organizer.slug event=request.event.slug product=product.id %}">{{ product }}</a>
        </li>
    {% empty %}
        <li class="text-muted">
            {% if empty_means_all %}{% translate "All products" %}{% else %}{% translate "No products" %}{% endif %}
        </li>
    {% endfor %}
</ul>
{% if total > 5 %}
    <details class="products-list-more">
        <summary>{% blocktranslate count counter=total|add:"-5" %}+{{ counter }} more product{% plural %}+{{ counter }} more products{% endblocktranslate %}</summary>
        <ul class="list-unstyled products-list-extra">
            {% for product in products|slice:"5:" %}
                <li>
                    <a href="{% url 'control:event.product' organizer=request.event.organizer.slug event=request.event.slug product=product.id %}">{{ product }}</a>
                </li>
            {% endfor %}
        </ul>
    </details>
{% endif %}
{% endwith %}
