{% extends "pretixcontrol/items/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}
    {% if question %}
        {% blocktrans with name=quota.name %}Capacity: {{ name }}{% endblocktrans %}
    {% else %}
        {% trans "Capacity" %}
    {% endif %}
{% endblock %}
{% block inside %}
    <nav id="event-nav" class="header-nav">
        <div class="navigation">
            <div class="navigation-title">
                {% if question %}
                    <h1>{% blocktrans with name=quota.name %}Capacity: {{ name }}{% endblocktrans %}</h1>
                {% else %}
                    <h1>{% trans "Capacity rule" %}</h1>
                {% endif %}
            </div>
            {% include "pretixcontrol/event/component_link.html" %}
        </div>
    </nav>
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <fieldset>
            <legend>{% trans "Capacity settings" %}</legend>
            {% bootstrap_field form.name layout="control" %}
            {% bootstrap_field form.size layout="control" %}
            {% if form.subevent %}
                {% bootstrap_field form.subevent layout="control" %}
            {% endif %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Applies to ticket types" %}</legend>
            <p>
                {% blocktrans trimmed %}
                    Select which ticket types or products share this capacity. If multiple ticket types or products are selected, they will use the same pool of available capacity. If a ticket or product type is limited by multiple capacities, it will only be available while all limits still have remaining capacity.
                {% endblocktrans %}
            </p>
            {% bootstrap_field form.productvars layout="control" %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Advanced options" %}</legend>
            {% bootstrap_field form.close_when_sold_out layout="control" %}
            {% bootstrap_field form.release_after_exit layout="control" %}
        </fieldset>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
