{% extends "orga/base.html" %}

{% load compress %}
{% load i18n %}
{% load static %}

{% block stylesheets %}
{% compress css %}
<link rel="stylesheet" href="{% static 'orga/css/question-toggles.css' %}">
{% endcompress %}
{% endblock stylesheets %}

{% block scripts %}
{% compress js %}
<script defer src="{% static 'common/js/modalDialog.js' %}"></script>
<script defer src="{% static 'orga/js/cfp.js' %}"></script>
<script defer src="{% static 'orga/js/questionToggles.js' %}"></script>
{% endcompress %}
{% endblock scripts %}

{% block extra_title %}{% translate "Call for Proposals" %} :: {% endblock extra_title %}

{% block content %}
<div id="main-title" class="d-md-flex justify-content-between">
    <h2>
        {% translate "Call for Proposals" %}
        <span data-dialog-target="#info-dialog" data-toggle="dialog">
            <i class="fa fa-question-circle-o text-info"></i>
        </span>
    </h2>
    {% include "orga/event/component_link.html" %}
</div>
<dialog class="info-dialog" id="info-dialog">
    <div class="alert alert-info">
        <span>
            {% translate "A good Call for Participation will engage potential speakers. Remember to include:" %}
            <br>
            <ul>
                <li>{% translate "The formats (sessions, workshops, panels) and their durations" %}</li>
                <li>{% translate "Topics you are looking for" %}</li>
                <li>{% translate "How open you are to alternative topics" %}</li>
                <li>{% translate "The people coming to your conference: interests, experience level …" %}</li>
                <li>{% translate "Link your Code of Conduct and Data Protection statements." %}</li>
                <li>{% translate "Do you offer financial or other support, e.g. support for first time speakers?" %}
                </li>
                <li>{% translate "Dates and location" %}</li>
            </ul>
        </span>
    </div>
</dialog>
<form method="post">
    {% csrf_token %}

    {% include "common/forms/errors.html" %}
    {% include "common/forms/errors.html" with form=sform %}

    {% include "orga/includes/tablist.html" %}
    <section role="tabpanel" id="tabpanel-general" aria-labelledby="tab-general" tabindex="0" aria-hidden="false">
        {{ form.headline.as_field_group }}
        {{ form.text.as_field_group }}
        {{ form.deadline.as_field_group }}
        {% if different_deadlines %}
        <div class="offset-md-3 alert alert-info">
            <div>
                {% translate "Some of your session types have different deadlines:" %}
                <ul class="mb-0">
                    {% for deadline, session_types in different_deadlines.items %}
                    <li>
                        {% for session_type in session_types %}
                        <a href="{{ session_type.urls.base }}">{{ session_type.name }}</a>{% if not forloop.last %},{%
                        else %}:{% endif %}
                        {% endfor %}
                        {{ deadline }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {{ form.show_deadline.as_field_group }}
        {{ form.hide_after_deadline.as_field_group }}
        {{ sform.use_tracks.as_field_group }}
        {{ sform.present_multiple_times.as_field_group }}
        {{ sform.submission_public_review.as_field_group }}
        {{ sform.mail_on_new_submission.as_field_group }}
    </section>

    <section role="tabpanel" id="tabpanel-fields" aria-labelledby="tab-fields" tabindex="0" aria-hidden="true">
        <div class="row">
            <label class="col-md-3 col-form-label text-md-right">
                {{ form.count_length_in.label }}
                {% if form.count_length_in.field.required %}*{% endif %}
            </label>
            <div class="col-md-9 d-flex align-items-center">
                {% for radio in form.count_length_in %}
                <div class="form-check me-3">
                    {{ radio.tag }}
                    <label class="form-check-label" for="{{ radio.id_for_label }}">
                        {{ radio.choice_label }}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        <fieldset>

            <div class="table-responsive-sm offset-md-3">
                <table class="table table-sm table-flip table-sticky cfp-option-table">
                    <thead>
                        <tr>
                            <th>{% translate "Proposal information" %}</th>
                            <th class="text-center">{% translate "Required" %}</th>
                            <th class="text-center">{% translate "Active" %}</th>
                            <th>{% translate "Minimum length" %}</th>
                            <th>{% translate "Maximum length" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {# Title #}
                        <tr>
                            <th>{% translate "Title" %}</th>
                            <td class="text-center"><span class="badge bg-success">{% translate "Required" %}</span>
                            </td>
                            <td class="text-center"><i class="fa fa-check-circle text-success"></i></td>
                            <td>{{ sform.cfp_title_min_length.as_field_group }}</td>
                            <td>{{ sform.cfp_title_max_length.as_field_group }}</td>
                        </tr>

                        {# Abstract #}
                        {% with field=sform.cfp_ask_abstract %}
                        <tr>
                            <th>{% translate "Abstract" %}</th>
                            <td class="text-center">
                                <button type="button"
                                    class="required-status" 
                                    data-field-id="{{ field.auto_id }}"
                                    data-state="{% if field.value == 'required' %}required{% elif field.value == 'after_deadline' %}after_deadline{% else %}optional{% endif %}"
                                    aria-label="Toggle required status for Abstract"
                                    tabindex="0">
                                    {% if field.value == 'required' %}Required{% elif field.value == 'after_deadline' %}Deadline{% else %}Optional{% endif %}
                                </button>
                            </td>
                            <td class="text-center">
                                <label class="toggle-switch" 
                                       data-field-id="{{ field.auto_id }}"
                                       aria-label="Toggle active state for Abstract">
                                    <input type="checkbox" 
                                           {% if field.value  != 'do_not_ask' %}checked{% endif %}
                                           aria-label="Active toggle for Abstract">
                                    <span class="toggle-slider"></span>
                                </label>
                                {{ field.as_hidden }}
                            </td>
                            <td>{{ sform.cfp_abstract_min_length.as_field_group }}</td>
                            <td>{{ sform.cfp_abstract_max_length.as_field_group }}</td>
                        </tr>
                        {% endwith %}

                        {# Description #}
                        {% with field=sform.cfp_ask_description %}
                        <tr>
                            <th>{% translate "Description" %}</th>
                            <td class="text-center">
                                <button type="button"
                                    class="required-status" 
                                    data-field-id="{{ field.auto_id }}"
                                    data-state="{% if field.value == 'required' %}required{% elif field.value == 'after_deadline' %}after_deadline{% else %}optional{% endif %}"
                                    aria-label="Toggle required status for Description"
                                    tabindex="0">
                                    {% if field.value == 'required' %}Required{% elif field.value == 'after_deadline' %}Deadline{% else %}Optional{% endif %}
                                </button>
                            </td>
                            <td class="text-center">
                                <label class="toggle-switch" 
                                       data-field-id="{{ field.auto_id }}"
                                       aria-label="Toggle active state for Description">
                                    <input type="checkbox" 
                                           {% if field.value  != 'do_not_ask' %}checked{% endif %}
                                           aria-label="Active toggle for Description">
                                    <span class="toggle-slider"></span>
                                </label>
                                {{ field.as_hidden }}
                            </td>
                            <td>{{ sform.cfp_description_min_length.as_field_group }}</td>
                            <td>{{ sform.cfp_description_max_length.as_field_group }}</td>
                        </tr>
                        {% endwith %}

                        {# Notes #}
                        {% with field=sform.cfp_ask_notes %}
                        <tr>
                            <th>{% translate "Notes" %}</th>
                            <td class="text-center">
                                <button type="button"
                                    class="required-status" 
                                    data-field-id="{{ field.auto_id }}"
                                    data-state="{% if field.value == 'required' %}required{% elif field.value == 'after_deadline' %}after_deadline{% else %}optional{% endif %}"
                                    aria-label="Toggle required status for Notes"
                                    tabindex="0">
                                    {% if field.value == 'required' %}Required{% elif field.value == 'after_deadline' %}Deadline{% else %}Optional{% endif %}
                                </button>
                            </td>
                            <td class="text-center">
                                <label class="toggle-switch" 
                                       data-field-id="{{ field.auto_id }}"
                                       aria-label="Toggle active state for Notes">
                                    <input type="checkbox" 
                                           {% if field.value  != 'do_not_ask' %}checked{% endif %}
                                           aria-label="Active toggle for Notes">
                                    <span class="toggle-slider"></span>
                                </label>
                                {{ field.as_hidden }}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endwith %}

                        {# Track #}
                        {% with field=sform.cfp_ask_track %}
                        <tr>
                            <th>{% translate "Track" %}</th>
                            <td class="text-center">
                                <button type="button"
                                    class="required-status" 
                                    data-field-id="{{ field.auto_id }}"
                                    data-state="{% if field.value == 'required' %}required{% elif field.value == 'after_deadline' %}after_deadline{% else %}optional{% endif %}"
                                    aria-label="Toggle required status for Track"
                                    tabindex="0">
                                    {% if field.value == 'required' %}Required{% elif field.value == 'after_deadline' %}Deadline{% else %}Optional{% endif %}
                                </button>
                            </td>
                            <td class="text-center">
                                <label class="toggle-switch" 
                                       data-field-id="{{ field.auto_id }}"
                                       aria-label="Toggle active state for Track">
                                    <input type="checkbox" 
                                           {% if field.value  != 'do_not_ask' %}checked{% endif %}
                                           aria-label="Active toggle for Track">
                                    <span class="toggle-slider"></span>
                                </label>
                                {{ field.as_hidden }}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endwith %}

                        {# Duration #}
                        {% with field=sform.cfp_ask_duration %}
                        <tr>
                            <th>{% translate "Duration" %}</th>
                            <td class="text-center">
                                <button type="button"
                                    class="required-status" 
                                    data-field-id="{{ field.auto_id }}"
                                    data-state="{% if field.value == 'required' %}required{% elif field.value == 'after_deadline' %}after_deadline{% else %}optional{% endif %}"
                                    aria-label="Toggle required status for Duration"
                                    tabindex="0">
                                    {% if field.value == 'required' %}Required{% elif field.value == 'after_deadline' %}Deadline{% else %}Optional{% endif %}
                                </button>
                            </td>
                            <td class="text-center">
                                <label class="toggle-switch" 
                                       data-field-id="{{ field.auto_id }}"
                                       aria-label="Toggle active state for Duration">
                                    <input type="checkbox" 
                                           {% if field.value  != 'do_not_ask' %}checked{% endif %}
                                           aria-label="Active toggle for Duration">
                                    <span class="toggle-slider"></span>
                                </label>
                                {{ field.as_hidden }}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endwith %}

                        {# Content Locale #}
                        {% with field=sform.cfp_ask_content_locale %}
                        {% if field %}
                        <tr>
                            <th>{% translate "Content Locale" %}</th>
                            <td class="text-center">
                                <button type="button"
                                    class="required-status" 
                                    data-field-id="{{ field.auto_id }}"
                                    data-state="{% if field.value == 'required' %}required{% elif field.value == 'after_deadline' %}after_deadline{% else %}optional{% endif %}"
                                    aria-label="Toggle required status for Content Locale"
                                    tabindex="0">
                                    {% if field.value == 'required' %}Required{% elif field.value == 'after_deadline' %}Deadline{% else %}Optional{% endif %}
                                </button>
                            </td>
                            <td class="text-center">
                                <label class="toggle-switch" 
                                       data-field-id="{{ field.auto_id }}"
                                       aria-label="Toggle active state for Content Locale">
                                    <input type="checkbox" 
                                           {% if field.value  != 'do_not_ask' %}checked{% endif %}
                                           aria-label="Active toggle for Content Locale">
                                    <span class="toggle-slider"></span>
                                </label>
                                {{ field.as_hidden }}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endif %}
                        {% endwith %}

                        {# Image #}
                        {% with field=sform.cfp_ask_image %}
                        <tr>
                            <th>{% translate "Session image" %}</th>
                            <td class="text-center">
                                <button type="button"
                                    class="required-status" 
                                    data-field-id="{{ field.auto_id }}"
                                    data-state="{% if field.value == 'required' %}required{% elif field.value == 'after_deadline' %}after_deadline{% else %}optional{% endif %}"
                                    aria-label="Toggle required status for Session image"
                                    tabindex="0">
                                    {% if field.value == 'required' %}Required{% elif field.value == 'after_deadline' %}Deadline{% else %}Optional{% endif %}
                                </button>
                            </td>
                            <td class="text-center">
                                <label class="toggle-switch" 
                                       data-field-id="{{ field.auto_id }}"
                                       aria-label="Toggle active state for Session image">
                                    <input type="checkbox" 
                                           {% if field.value  != 'do_not_ask' %}checked{% endif %}
                                           aria-label="Active toggle for Session image">
                                    <span class="toggle-slider"></span>
                                </label>
                                {{ field.as_hidden }}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endwith %}

                        {# Do not record #}
                        {% with field=sform.cfp_ask_do_not_record %}
                        <tr>
                            <th>{% translate "Recording opt-out" %}</th>
                            <td class="text-center">
                                <button type="button"
                                    class="required-status" 
                                    data-field-id="{{ field.auto_id }}"
                                    data-state="{% if field.value == 'required' %}required{% elif field.value == 'after_deadline' %}after_deadline{% else %}optional{% endif %}"
                                    aria-label="Toggle required status for Recording opt-out"
                                    tabindex="0">
                                    {% if field.value == 'required' %}Required{% elif field.value == 'after_deadline' %}Deadline{% else %}Optional{% endif %}
                                </button>
                            </td>
                            <td class="text-center">
                                <label class="toggle-switch" 
                                       data-field-id="{{ field.auto_id }}"
                                       aria-label="Toggle active state for Recording opt-out">
                                    <input type="checkbox" 
                                           {% if field.value  != 'do_not_ask' %}checked{% endif %}
                                           aria-label="Active toggle for Recording opt-out">
                                    <span class="toggle-slider"></span>
                                </label>
                                {{ field.as_hidden }}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endwith %}


                        {# Speaker Section #}
                        <tr>
                            <th colspan="5" class="thead-light">{% translate "Speaker Information" %}</th>
                        </tr>

                        {# Biography #}
                        {% with field=sform.cfp_ask_biography %}
                        <tr>
                            <th>{% translate "Biography" %}</th>
                            <td class="text-center">
                                <button type="button"
                                    class="required-status" 
                                    data-field-id="{{ field.auto_id }}"
                                    data-state="{% if field.value == 'required' %}required{% elif field.value == 'after_deadline' %}after_deadline{% else %}optional{% endif %}"
                                    aria-label="Toggle required status for Biography"
                                    tabindex="0">
                                    {% if field.value == 'required' %}Required{% elif field.value == 'after_deadline' %}Deadline{% else %}Optional{% endif %}
                                </button>
                            </td>
                            <td class="text-center">
                                <label class="toggle-switch" 
                                       data-field-id="{{ field.auto_id }}"
                                       aria-label="Toggle active state for Biography">
                                    <input type="checkbox" 
                                           {% if field.value  != 'do_not_ask' %}checked{% endif %}
                                           aria-label="Active toggle for Biography">
                                    <span class="toggle-slider"></span>
                                </label>
                                {{ field.as_hidden }}
                            </td>
                            <td>{{ sform.cfp_biography_min_length.as_field_group }}</td>
                            <td>{{ sform.cfp_biography_max_length.as_field_group }}</td>
                        </tr>
                        {% endwith %}

                        {# Avatar #}
                        {% with field=sform.cfp_ask_avatar %}
                        <tr>
                            <th>{% translate "Avatar" %}</th>
                            <td class="text-center">
                                <button type="button"
                                    class="required-status" 
                                    data-field-id="{{ field.auto_id }}"
                                    data-state="{% if field.value == 'required' %}required{% elif field.value == 'after_deadline' %}after_deadline{% else %}optional{% endif %}"
                                    aria-label="Toggle required status for Avatar"
                                    tabindex="0">
                                    {% if field.value == 'required' %}Required{% elif field.value == 'after_deadline' %}Deadline{% else %}Optional{% endif %}
                                </button>
                            </td>
                            <td class="text-center">
                                <label class="toggle-switch" 
                                       data-field-id="{{ field.auto_id }}"
                                       aria-label="Toggle active state for Avatar">
                                    <input type="checkbox" 
                                           {% if field.value  != 'do_not_ask' %}checked{% endif %}
                                           aria-label="Active toggle for Avatar">
                                    <span class="toggle-slider"></span>
                                </label>
                                {{ field.as_hidden }}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endwith %}

                        {# Availability #}
                        {% with field=sform.cfp_ask_availabilities %}
                        <tr>
                            <th>{% translate "Availability" %}</th>
                            <td class="text-center">
                                <button type="button"
                                    class="required-status" 
                                    data-field-id="{{ field.auto_id }}"
                                    data-state="{% if field.value == 'required' %}required{% elif field.value == 'after_deadline' %}after_deadline{% else %}optional{% endif %}"
                                    aria-label="Toggle required status for Availability"
                                    tabindex="0">
                                    {% if field.value == 'required' %}Required{% elif field.value == 'after_deadline' %}Deadline{% else %}Optional{% endif %}
                                </button>
                            </td>
                            <td class="text-center">
                                <label class="toggle-switch" 
                                       data-field-id="{{ field.auto_id }}"
                                       aria-label="Toggle active state for Availability">
                                    <input type="checkbox" 
                                           {% if field.value  != 'do_not_ask' %}checked{% endif %}
                                           aria-label="Active toggle for Availability">
                                    <span class="toggle-slider"></span>
                                </label>
                                {{ field.as_hidden }}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endwith %}

                        {# Additional Speaker #}
                        {% with field=sform.cfp_ask_additional_speaker %}
                        <tr>
                            <th>{% translate "Additional speakers" %}</th>
                            <td class="text-center">
                                <button type="button"
                                    class="required-status" 
                                    data-field-id="{{ field.auto_id }}"
                                    data-state="{% if field.value == 'required' %}required{% elif field.value == 'after_deadline' %}after_deadline{% else %}optional{% endif %}"
                                    aria-label="Toggle required status for Additional speakers"
                                    tabindex="0">
                                    {% if field.value == 'required' %}Required{% elif field.value == 'after_deadline' %}Deadline{% else %}Optional{% endif %}
                                </button>
                            </td>
                            <td class="text-center">
                                <label class="toggle-switch" 
                                       data-field-id="{{ field.auto_id }}"
                                       aria-label="Toggle active state for Additional speakers">
                                    <input type="checkbox" 
                                           {% if field.value  != 'do_not_ask' %}checked{% endif %}
                                           aria-label="Active toggle for Additional speakers">
                                    <span class="toggle-slider"></span>
                                </label>
                                {{ field.as_hidden }}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endwith %}

                    </tbody>
                </table>
            </div>
        </fieldset>

    </section>

    {% include "orga/includes/submit_row.html" %}

</form>


{% endblock content %}