{% extends "eventyay_common/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load eventurl %}
{% load money %}
{% block title %}{% trans "My Orders" %}{% endblock %}

{% block content %}
<h1>{% trans "My Orders" %}</h1>
<div class="row filter-form">
    <form action="" method="get" hx-get="." hx-target="#orders-table-container" hx-push-url="true" hx-swap="outerHTML">
        <div class="col-md-3 col-xs-6">
            <!-- Add the event filter here -->
            {% bootstrap_field filter_form.event layout='inline' %}
        </div>
        <div class="col-md-2 col-xs-6">
            {% include "eventyay_common/filter_actions.html" with filter_htmx_target="#orders-table-container" %}
        </div>
    </form>
</div>
{% include "eventyay_common/orders/fragment_orders_list.html" %}
{% endblock %}