{% load i18n %}
{% load safelink %}
{% load event_tags %}
{% load eventurl %}

{% load presale_locale %}
<a href="{% url 'presale:event.index' event=request.event.slug organizer=request.event.organizer.slug %}" class="header-tab {% if request.resolver_match.url_name == 'event.index' %}active{% endif %}">
    <i class="fa fa-info-circle"></i> {% translate "Info" %}
</a>
<a href="{% url 'presale:event.index' event=request.event.slug organizer=request.event.organizer.slug %}#tickets" class="header-tab">
    <i class="fa fa-ticket"></i> {% translate "Tickets" %}
</a>
{% if schedule or request.event.has_schedule_content %}
    <a href="{{ request.event.urls.schedule }}" class="header-tab {% if '/schedule/' in request.path_info %}active{% endif %}">
        <i class="fa fa-calendar"></i> {{ phrases.schedule.schedule }}
    </a>
{% endif %}
{% if schedule or request.event.has_schedule_content %}
    {% if request.event.display_settings.schedule_display != "list" %}
        <a href="{{ request.event.urls.talks }}" class="header-tab {% if '/sessions/' in request.path_info %} active{% endif %}">
            <i class="fa fa-comments-o"></i> {{ phrases.schedule.sessions }}
        </a>
    {% endif %}
{% endif %}
{% if request.event.speakers.exists %}
    <a href="{{ request.event.urls.speakers }}" class="header-tab {% if '/speakers/' in request.path_info %} active{% endif %}">
        <i class="fa fa-group"></i> {{ phrases.schedule.speakers }}
    </a>
{% endif %}
{% for link in header_links %}
    <a href="{% safelink link.url %}" target="_blank" rel="noopener" class="header-tab">
        <i class="fa fa-link"></i> {{ link.label|event_localize }}
    </a>
{% endfor %}

{% with cfp=request.event.cfp %}
    {% if cfp.is_open or access_code.is_valid %}
        <a class="header-tab {% if '/cfp' in request.path_info %} active{% endif %}"
            href="{% url 'cfp:event.start' event=request.event.slug organizer=request.event.organizer.slug %}">
            <i class="fa fa-bullhorn"></i> {% translate "Call for Speakers" %}
        </a>
    {% elif not cfp.settings.hide_after_deadline %}
        <a class="header-tab {% if '/cfp' in request.path_info %} active{% endif %}"
            href="{% url 'cfp:event.start' event=request.event.slug organizer=request.event.organizer.slug %}">
            <i class="fa fa-bullhorn"></i> {% translate "Call for Speakers (Closed)" %}
        </a>
    {% endif %}
{% endwith %}

{% if show_online_video_link|default:False %}
    <a id="join-event-link" class="header-tab" href="{% eventurl request.event 'presale:event.onlinevideo.join' %}">
        <i class="fa fa-video-camera"></i> {% translate "Join online video" %}
    </a>
{% endif %}
