{% extends "agenda/base.html" %}
{% load compress %}
{% load i18n %}
{% load static %}

{% block agenda_custom_header %}
<script id="pretalx-messages" data-logged-in="{% if request.user.is_anonymous %}false{% else %}true{% endif %}" src="{{ request.event.urls.schedule }}widget/messages.js"></script>
{% endblock agenda_custom_header %}

{% block agenda_content %}
<div>
    <script>
    window.__SCHEDULE_DATA__ = {{ schedule_json|safe }};
    </script>
    <script type="text/javascript" src="{{ request.event.urls.schedule_widget_script }}" async></script>
    {% with event_tz=request.event.settings.timezone|default:request.event.timezone %}
    <pretalx-schedule event-url="{{ request.event.urls.base }}" locale="{{ request.LANGUAGE_CODE }}" view="speakers" style="--pretalx-clr-primary: {{ request.event.visible_primary_color }}"></pretalx-schedule>
    {% endwith %}
</div>
{% endblock agenda_content %}
