.navbar-toggle-sidebar {
  display: block;
  float: left;
  font-size: 16px;
  margin-left: 10px;
  background-color: transparent !important;
  border: none;
  padding: 0.5rem;
  color: #fff;
  margin-top: 8px;
  margin-right: 0;
  padding-right: 0;
  z-index: 1;

  &:hover, &:focus {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.8);
    outline: none;
  }

  .fa-bars {
    color: #fff;
  }

  @media (max-width: 767px) {
    display: block !important;
  }
}

.navbar-header > .navbar-toggle[data-toggle="collapse"] {
  display: none !important;
}

body.sidebar-minimized {
  .sidebar {
    width: 45px;
    overflow: hidden;

    .nav > li > a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0;
      padding: 12px 0;
      text-align: center;
      width: 100%;
      height: 45px;
      box-sizing: border-box;

      span {
        display: none;
      }

      .fa, svg {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
        position: relative;
        left: 0;
      }

      .fa.fa-fw {
        width: 100%;
        text-align: center;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &::after, &::before {
        display: none;
      }
    }

    .nav > li > a.arrow {
      display: none;
    }

    .sidebar-nav .nav-second-level {
      display: none;
    }

    .context-selector .context-indicator .context-name,
    .context-selector .context-indicator .context-meta {
        display: none;
    }

    // Style the context-selector dropdown-toggle to match expanded state alignment
    .context-selector {
      .dropdown-toggle {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100%;

        span.caret {
          display: none;
        }

        .context-icon {
          width: 2.5em;
          height: 2.5em;
          line-height: 2.5em;
          margin: 0;
        }

        .context-icon .fa-circle {
          font-size: 2em;
        }

        .context-icon .fa-dashboard,
        .context-icon .fa-group {
          font-size: 1em;
          visibility: visible;
          opacity: 1;
        }

        .context-indicator {
          display: none;
        }
      }
    }
  }

  #page-wrapper {
    margin-left: 45px;
  }
}

@media (max-width: 767px) {
  .navbar-toggle-sidebar {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: var(--navbar-height, 50px);
    bottom: 0;
    left: 0;
    width: 250px;
    background-color: #f8f8f8;
    z-index: 12;
    transform: translateX(-100%);
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
    height: calc(100vh - var(--navbar-height, 50px));

    .nav > li > a {
      display: block;
      font-size: inherit;
      padding: 10px 15px;

      span {
        display: inline;
      }
    }

    .sidebar-nav.navbar-collapse {
      display: block !important;
      height: auto !important;
      overflow: visible !important;
      padding-bottom: 0;
    }
  }

  body:not(.sidebar-minimized) .sidebar {
    transform: translateX(0%);
  }

  body.sidebar-minimized .sidebar {
    transform: translateX(-100%);
  }

  #page-wrapper {
    margin-left: 0 !important;
  }

  .navbar-brand {
    z-index: 11;
    position: relative;
  }
}

@media (hover: hover) and (pointer: fine) {
  body.sidebar-minimized .sidebar:hover {
    width: 250px;
    overflow-y: auto;
    overflow-x: visible;

    .nav > li > a {
      display: block;
      align-items: normal;
      justify-content: normal;
      font-size: inherit;
      padding: 10px 15px;
      text-align: left;
      width: auto;

      span {
        display: inline;
      }

      .fa, svg {
        font-size: inherit;
        margin: 0;
        padding: 0;
        display: inline;
        text-align: inherit;
        width: auto;
        position: static;
        left: auto;
      }

      .fa.fa-fw {
        width: 1.25em;
        text-align: center;
      }

      &::after, &::before {
        display: block;
      }
    }

    .nav > li > a.arrow {
      display: block;
      position: absolute;
      right: 0;
      top: 0;

      .fa.arrow {
        line-height: 19px;
        width: 10px;
        text-align: center;

        &:before {
          content: "\f104";
        }
      }
    }

    .nav > li.active > a > .fa.arrow:before {
      content: "\f107";
    }

    .nav > li > a.has-children {
      margin-right: 40px;
    }

    .sidebar-nav .nav-second-level {
      &.collapse {
        display: none;
      }

      &.collapse.in {
        display: block;
      }

      li {
        border-bottom: none;

        a {
          padding-left: 37px;
        }
      }
    }

    .sidebar-nav .nav-third-level {
      &.collapse {
        display: none;
      }

      &.collapse.in {
        display: block;
      }

      li {
        border-bottom: none;

        a {
          padding-left: 52px;
        }
      }
    }

    ul li {
      border-bottom: 1px solid darken($gray-lightest, 6.5%);
      position: relative;

      a {
        &.active {
          background-color: #eeeeee;
        }
      }
    }

    li.active {
      > ul.nav-second-level {
        display: block;
      }
    }

    .context-selector {
      .dropdown-toggle {
        padding: 10px 20px 9px 7px;
        display: block;
        text-decoration: none;
        position: relative;

        span.caret {
          position: absolute;
          right: 15px;
          top: 50%;
          margin-top: -2px;
        }

        .context-icon {
          width: 2.5em;
          height: 2.5em;
          line-height: 2.5em;
        }
        
        .context-icon .fa-circle {
          font-size: 2em;
        }
        
        .context-icon .fa-dashboard, .context-icon .fa-group {
          font-size: 1em;
          visibility: visible;
          opacity: 1;
        }
      }

      border-bottom: 2px solid darken($gray-lightest, 6.5%);

      .context-indicator {
        display: inline-block;
        padding-left: 5px;
        padding-right: 2px;
        line-height: 15px;
        vertical-align: middle;
        
        span {
          display: block;
          width: 170px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        
        span.context-name {
          font-weight: bold;
          vertical-align: middle;
          font-size: 15px;
          display: block;
        }
        
        span.context-meta {
          opacity: 0.7;
          font-size: 11px;
          display: block;
        }
      }
    }
  }
  
  body.sidebar-minimized:has(.sidebar:hover) #page-wrapper {
    margin-left: 250px;
  }
}

body.sidebar-minimized .sidebar {
  min-height: 100vh;
}
