{% extends "orga/submission/base.html" %}
{% load i18n %}
{% load rich_text %}
{% load rules %}
{% load static %}
{% load thumbnail %}

{% block submission_content %}
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3 class="card-title mb-0">{% translate "Proposal Content" %}</h3>
                {% if can_edit %}
                    <a href="{{ submission.orga_urls.edit }}" class="btn btn-info btn-sm">
                        <i class="fa fa-edit"></i> {{ phrases.base.edit }}
                    </a>
                {% endif %}
            </div>

            <div class="row">
                <div class="col-md-3 font-weight-bold">{% translate "Proposal title" %}</div>
                <div class="col-md-9">{{ submission.title }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3 font-weight-bold">{% translate "Session type" %}</div>
                <div class="col-md-9">{{ submission.submission_type.name }}</div>
            </div>
            {% if submission.track %}
            <div class="row mt-2">
                <div class="col-md-3 font-weight-bold">{% translate "Track" %}</div>
                <div class="col-md-9">{{ submission.track.name }}</div>
            </div>
            {% endif %}
            {% if submission.tags.exists %}
            <div class="row mt-2">
                <div class="col-md-3 font-weight-bold">{% translate "Tags" %}</div>
                <div class="col-md-9">
                    {% for tag in submission.tags.all %}
                        <span class="badge" style="background-color: {{ tag.color }}">{{ tag.tag }}</span>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if submission.abstract %}
            <div class="row mt-2">
                <div class="col-md-3 font-weight-bold">{% translate "Abstract" %}</div>
                <div class="col-md-9">{{ submission.abstract|rich_text }}</div>
            </div>
            {% endif %}
            {% if submission.description %}
            <div class="row mt-2">
                <div class="col-md-3 font-weight-bold">{% translate "Description" %}</div>
                <div class="col-md-9">{{ submission.description|rich_text }}</div>
            </div>
            {% endif %}
            {% if submission.notes %}
            <div class="row mt-2">
                <div class="col-md-3 font-weight-bold">{% translate "Notes" %}</div>
                <div class="col-md-9">{{ submission.notes|rich_text }}</div>
            </div>
            {% endif %}
            {% if submission.internal_notes %}
            <div class="row mt-2">
                <div class="col-md-3 font-weight-bold">{% translate "Internal notes" %}</div>
                <div class="col-md-9">{{ submission.internal_notes|rich_text }}</div>
            </div>
            {% endif %}
            <div class="row mt-2">
                <div class="col-md-3 font-weight-bold">{% translate "Language" %}</div>
                <div class="col-md-9">{{ submission.get_content_locale_display }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3 font-weight-bold">{% translate "Duration" %}</div>
                <div class="col-md-9">{{ submission.get_duration }} {% translate "minutes" %}</div>
            </div>
            {% if submission.image %}
            <div class="row mt-2">
                <div class="col-md-3 font-weight-bold">{% translate "Session image" %}</div>
                <div class="col-md-9">
                    <a href="{{ submission.image.url }}" data-lightbox>
                        <img width="100px" src="{{ submission.image|thumbnail:"default" }}" alt="{% translate "Session image" %}">
                    </a>
                </div>
            </div>
            {% endif %}

            {% if resources %}
                <div class="mt-4">
                    <h4>{% translate "Resources" %}</h4>
                    <ul>
                        {% for resource in resources %}
                            <li>
                                <a href="{{ resource.resource.url }}">{{ resource.description|default:resource.filename }}</a>
                                ({{ resource.resource.size|filesizeformat }})
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if answers %}
                <div class="mt-4">
                    <h4>{{ phrases.cfp.custom_fields }}</h4>
                    {% for answer in answers %}
                        <div class="row mt-2">
                            <div class="col-md-3 font-weight-bold">{{ answer.question.question }}</div>
                            <div class="col-md-9">{% include "common/question_answer.html" with answer=answer %}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
