{% extends "orga/submission/base.html" %}

{% load compress %}
{% load staff_session %}
{% load i18n %}
{% load rich_text %}
{% load rules %}
{% load static %}
{% load thumbnail %}

{% block submission_title %}{% translate "Speakers" %} :: {% endblock submission_title %}

{% block submission_content %}
    {% has_event_perm "base.update_submission" request.user request submission as can_edit_speakers %}
    {% has_event_perm "base.send_queuedmail" request.user request request.event as can_send_mails %}
    {% has_event_perm "base.mark_arrived_speakerprofile" request.user request request.event as can_mark_speaker %}

    <div id="session-speaker-list">
        {% include 'orga/submission/speaker_list.html' %}
    </div>

    {% if can_edit_speakers %}<div class="card mb-3 speaker-add-card"><div class="card-body">
        <form method="POST" action="{{ submission.orga_urls.speakers }}" id="session-speaker-form"
              class="form d-flex w-100 flex-column speaker-inline-form"
              data-error-message="{% translate 'Could not add the speaker. Check the speaker list before trying again.' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div id="session-speaker-errors" class="alert alert-danger d-none" role="alert" tabindex="-1"></div>
            <div id="session-speaker-status" role="status" aria-live="polite"></div>
            <div class="d-flex flex-row flex-wrap">
                <div class="col-md-6 hide-optional">{{ form.email.as_field_group }}</div>
                <div class="col-md-6">{{ form.name.as_field_group }}</div>
            </div>
            <div class="d-flex flex-row flex-wrap hide-optional">
                <div class="col-md-6 hide-optional">{% if form.locale %}{{ form.locale.as_field_group }}{% endif %}</div>
                <div class="col-md-6">
                    <label class="inline-form-label add-speaker-btn-spacer" aria-hidden="true">&nbsp;</label>
                    <button type="submit" class="btn btn-success btn-block"><i class="fa fa-plus"></i> {% translate "Add speaker" %}</button>
                </div>
            </div>
        </form>
    </div></div>{% endif %}

    <span id="vars" remoteUrl="{{ request.event.organizer.orga_urls.user_search }}"></span>
    {% compress js %}
        <script defer src="{% static "orga/js/speakers.js" %}"></script>
    {% endcompress %}
    <script type="module" src="{% static 'orga/js/session_speakers.js' %}"></script>
{% endblock submission_content %}
