{% extends "orga/submission/base.html" %}

{% load compress %}
{% load staff_session %}
{% load i18n %}
{% load rich_text %}
{% load rules %}
{% load static %}
{% load thumbnail %}

{% block submission_title %}{% translate "Speakers" %} :: {% endblock submission_title %}

{% block submission_content %}
    {% has_event_perm "base.update_submission" request.user request submission as can_edit_speakers %}
    {% has_event_perm "base.send_queuedmail" request.user request request.event as can_send_mails %}
    {% has_event_perm "base.mark_arrived_speakerprofile" request.user request request.event as can_mark_speaker %}

    <div id="speakers-section" data-speakers-section>
        {% include "orga/submission/fragment_speakers.html" %}
    </div>

    <span id="vars" remoteUrl="{{ request.event.organizer.orga_urls.user_search }}"></span>
    {% compress js %}
        <script defer src="{% static "orga/js/speakers.js" %}"></script>
    {% endcompress %}
    <script type="module" src="{% static 'orga/js/speaker-invitations.js' %}"></script>
{% endblock submission_content %}
