name: Documentation

on:
  push:
    branches: [ development, master ]
    paths-ignore:
      - 'src/pretix/locale/**'
      - 'src/pretix/static/**'
      - 'src/tests/**'
  pull_request:
    branches: [ development, master ]
    paths-ignore:
      - 'src/pretix/locale/**'
      - 'src/pretix/static/**'
      - 'src/tests/**'

jobs:
  spelling:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: latest
          enable-cache: true
      - name: Install system packages
        run: sudo apt update && sudo apt install enchant hunspell aspell-en
      - name: Install Python dependencies
        run: uv sync --group docs
        working-directory: ./app/
      - name: Spellcheck docs
        run: ../app/.venv/bin/sphinx-build -b spelling -d _build/doctrees . _build/spelling
        working-directory: ./doc
