name: Deploy Sphinx Documentation to GitHub Pages

on:
  push:
    branches:
      - development

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install system packages
        run: |
          sudo add-apt-repository universe multiverse
          sudo apt update
          sudo apt install -y enchant-2 libffi-dev libssl-dev libxml2-dev libxslt1-dev gettext libfreetype-dev libjpeg-dev


      - name: Install dependencies
        working-directory: doc
        run: |
          pip install -r requirements.txt
          pip install "Jinja2<3.1" "sphinx==5.0.*"

      - name: Build documentation
        working-directory: doc
        run: make html

      - name: Copy CNAME
        run: cp doc/CNAME doc/_build/html

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: doc/_build/html

  deploy:
    if: github.repository == 'fossasia/eventyay'
    runs-on: ubuntu-latest
    needs: build


    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
