name: Strings

on:
  push:
    branches: [ development, master ]
    paths:
      - 'doc/**'
      - 'src/pretix/locale/**'
  pull_request:
    branches: [ development, master ]
    paths:
      - 'doc/**'
      - 'src/pretix/locale/**'

jobs:
  compile:
    runs-on: ubuntu-latest
    name: Check gettext syntax
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v1
        with:
          python-version: 3.12
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: latest
          enable-cache: true
      - name: Install system packages
        run: sudo apt update && sudo apt install gettext
      - name: Install Python dependencies
        run: uv sync
        working-directory: ./app/
      - name: Compile messages
        run: uv run manage.py compilemessages
        working-directory: ./app/
      - name: Compile jsi18n
        run: uv run manage.py compilejsi18n
        working-directory: ./app/
