name: Code Style

on:
  push:
    branches: [ development, master ]
    paths-ignore:
      - 'src/pretix/locale/**'
      - 'src/pretix/static/**'
  pull_request:
    branches: [ development, master ]
    paths-ignore:
      - 'src/pretix/locale/**'
      - 'src/pretix/static/**'

jobs:
  ruff:
    name: Ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: latest
          enable-cache: true
      - name: Install system packages
        run: sudo apt update && sudo apt install gettext
      - name: Install Dependencies
        run: |
          sed -i '/eventyay-stripe/d' pyproject.toml
          sed -i '/eventyay-paypal/d' pyproject.toml
          uv sync --group lint
        working-directory: ./app
      - name: Run Ruff
        run: uv run ruff check . && ruff format --check .
        working-directory: ./app
